/* GitHub: github.com/echtr */

/* Variables */
:root {
    --gray: #ecf0f1;
    --gray-dark: #7f8c8d;
    --red: #e74c3c;
    --lightblue-bg: rgba(52, 152, 219, 0.05);
    --blue-text: #2980b9;
  }
  
  /* Reset styles for HTML and body */
  html,
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: rgba(52, 152, 219, 0.03);
  }
  
  /* Navbar styles */
  .navbar {
    width: 20%;
    height: 100%;
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items: center;
  }
  
  .navbar h3 {
    font-family: 'Montserrat', sans-serif;
  }
  
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    margin-top: 5%;
  }
  
  .navbar li {
    width: 70%;
    padding: 10% 15%;
    cursor: pointer;
    color: var(--gray-dark);
  }
  
  .navbar li:first-child {
    background-color: var(--lightblue-bg);
    color: var(--blue-text);
    border-left: 5px solid var(--blue-text);
    width: calc(70% - 5px);
  }
  
  .navbar li:hover {
    background-color: var(--blue-text);
    color: white;
  }
  
  /* Dashboard styles */
  .dashboard {
    width: 75%;
    height: 100%;
    display: flex;
    margin: 0 2.5%;
    flex-flow: column wrap;
  }
  
  .dashboard .top-bar {
    width: 100%;
    height: 10%;
    margin-top: 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .dashboard input {
    width: 35%;
    padding: 1.5% 3%;
    border-radius: 35px;
    outline: none;
    border: none;
  }
  
  .dashboard input::placeholder {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f002";
  }
  
  .dashboard .profile-data {
    background-color: white;
    padding: 1.3%;
    border-radius: 35px;
    font-family: 'Montserrat', sans-serif;
  }
  
  .dashboard .fa-bell {
    position: relative;
  }
  
  .dashboard .fa-bell:hover {
    cursor: pointer;
  }
  
  .dashboard .fa-bell::after {
    content: "1";
    position: absolute;
    display: flex;
    color: white;
    right: 0;
    top: 0;
    margin-top: -35%;
    margin-right: -35%;
    justify-content: center;
    width: 10px;
    height: 10px;
    background-color: red;
    font-size: 70%;
    border-radius: 15px;
    transition: 0.3s;
  }
  
  /* Other styles */
  .text-title {
    display: flex;
    align-items: center;
    width: 100%;
    height: 12%;
    font-family: 'Montserrat', sans-serif;
  }
  
  .row-2 {
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .row-2 img {
    width: 30%;
    height: 30%;
    margin-left: 15%;
  }
  
  .row-2 span {
    position: absolute;
    margin-top: 10%;
    font-family: "Montserrat";
  }
  
  .row-1 {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .col {
    border-radius: 25px;
    background-color: white;
    height: 95%;
  }
  
  .col h2 {
    font-family: 'Montserrat', sans-serif;
    margin: 6% 7%;
  }
  
  .col-1 {
    width: 45%;
  }
  
  .col-1 p {
    font-family: 'Montserrat', sans-serif;
    font-size: 300%;
    margin: 0% 7%;
  }
  
  .col-1 .fraction {
    color: var(--blue-text);
  }
  
  .col-2 {
    width: 35%;
    background-color: #3498db;
    position: relative;
    font-family: 'Teko', sans-serif;
    color: white;
  }
  
  .col-2 .title {
    font-size: 200%;
    margin-top: 3%;
    margin-left: 5%;
  }
  
  .col-2 .card-no {
    font-family: "Roboto", sans-serif;
    font-size: 150%;
    margin-top: -5%;
    margin-left: 3%;
  }
  
  .col-2 #name {
    margin-left: 4%;
  }
  
  .col-2 #kst {
    float: right;
    margin-right: 4%;
  }
  